# author: randy martinez #
# proj: HotelSmartService #

# -- general -- #
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
**/.DS_Store
.DS_Store
**/.bin
.bin
.expo

# -- app -- #
#expo#
app/hotel-smart-devices/.expo

#depenc#
app/hotel-smart-devices/node_modules

# -- backend -- #

# -- specs -- #