# author: randy martinez #
# proj: HotelSmartService #

# -- general -- #
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
**/.DS_Store
.DS_Store
**/.bin
.bin
.expo


# -- testing -- #
app/hotel-smart-devices

# -- app -- #
#depenc#
app/hotel-smart-service/node_modules/


# -- backend -- #

# -- specs -- #
specs/arquitecture/v1.0.0.pdf
specs/arquitecture/v2.2.0.pdf
specs/arquitecture/v2.2.1.pdf